<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello to Go!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
{{template "layout/header"}}

    <div class="container">


{{/*
    </div>

</body>
</html>
*/}}


